#mail-edit-filter .mail-edit-filter {
  margin-right: 3em;
  float: left;
}

#mail-edit-filter #mail-edit-languages-selected-filter{
  margin-left: 0;
}

#mail-edit-table {
  clear: both;
}

#mail-edit-table .description {
  font-size: 0.8em;
  line-height: 1.6em;
}
