.div_custom_container{
    width:100%;
    min-height: 500px;
    background: #2E5753;
    color:#FFFFFF;
    clear:both;
    float:left;
    padding-bottom: 10px;
}
html,body{
    background: #FFFFFF !important;
    margin:0;
}
.div_custom_container div.description{
    color:#FFFFFF;
    font-size: 0.7em;
}
.div_custom_container_left{
    width:50%;
    float:left;
    background:none !important;
}
.div_custom_link{
    float:right;
    padding-top:20px;
    /*padding-left:10px;*/
    padding-right:10px; 
}
.div_custom_header{
    clear:both;
    /*float:left;*/
}
.div_custom_logo{
    float:left;
}
.div_custom_links{
    float:right;
}
img.imagen_red{
    padding-left: 100px;
    padding-top: 50px;
}
fieldset.collapsible:not(.collapsed), fieldset:not(.collapsible){ 
    background:none !important;
}
.div_custom_container_right{
    width:50%;
    float:left;
    background:none !important;
}
.form-item label{
    font-size:1em !important;
}
div.div_sin_red{
    width:400px;
}
div.div_custom_container a,div.div_custom_container a:visited {
    color: #FFFFFF !important;
    text-decoration: none !important;
}
div.messages{
    clear:both !important;
}
fieldset legend {
    padding-left: 5px !important;
}