/* jqModal base Styling courtesy of;
	Brice Burgess <bhb@iceburg.net> */

/* The Window's CSS z-index value is respected (takes priority). If none is supplied,
	the Window's z-index value will be set to 3000 by default (via jqModal.js). */
	
.jqmWindow {
    display: none;
    position: fixed;
    top: 17%;
    left: 50%;
    margin-left: -300px;
    width: 600px;
    background-color: #fff;
    color: #333;
    border: 1px solid #999;
    padding: 20px;
    border-radius: 10px;
}

.jqmOverlay { background-color: #000; opacity: 0.5 !important; }

/* Background iframe styling for IE6. Prevents ActiveX bleed-through (<select> form elements, etc.) */
* iframe.jqm {position:absolute;top:0;left:0;z-index:-1;
	width: expression(this.parentNode.offsetWidth+'px');
	height: expression(this.parentNode.offsetHeight+'px');
}

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html .jqmWindow {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}
/* popup styling  */
#help_popup {
  position:relative;
  z-index:100;
}
#help_popup h2{
	font-family: Georgia;
	font-size: 22px;
	font-style: italic;
}
#help_popup .closewindow a, #help-popup .closewindow a:visited {
    background-image: url("../../themes/buho/images/icons/edit.png");
    background-position: center top;
    background-repeat: no-repeat;
    color: transparent;
    display: block;
    float: left;
    text-decoration: none;
}
#help_popup .closewindow a:hover{
color: transparent;
}

#help_popup .closewindow input.jqmClose {
    background-color: white;
      background-image: url("../../themes/buho/images/icons/delete.png");
      background-position: center top;
      background-repeat: no-repeat;
      border: 0 none;
      color: transparent;
      display: block;
      float: left;
      max-width: 24px;
      min-height: 18px;
      text-decoration: none;
      cursor: pointer;
}
#help_popup .closewindow{
	/*position: absolute;*/
}
#help_popup a#id_a_close_window{
	background-image: none !important;
}